/*=========Hide menu bar of admin page in popup============*/
#adminmenumain {/*, #wpadminbar {*/
    display: none!important;
}
#wpcontent {
    margin-left: 0!important;
}
/*=========Hide update status============*/
#wpbody-content .update-nag {
    display:none;
}
/*hide button Publish/Update, Preview/Preview changes, Copy to a new draft/Move to trash in iframe, button Save Draft*/
#publish, #major-publishing-actions,
#save-post, #minor-publishing-actions, #wpfooter,
#submitdiv {
    display: none;
}
/*hide link add product*/
#wpbody-content .wrap > h1 {
    visibility: hidden;
}